#source,
#sortDiv,
#sortDiv>p:nth-child(1) {
    /* border: 1px solid red; */
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    margin: 0;
}

#source>p {
    padding-right: 5px;
}

#source>p,
#sortDiv>p {
    padding-bottom: 5px;
    font-size: small;
    margin: 5px 0px;
}

#secondNav>h5 {
    margin: 5px 0px;
    padding-left: 20px;
    /* border: 1px solid yellowgreen; */
}

#sortDiv>p {
    margin: 0 50px;
    padding-top: 10px;
}

#sortDiv>p:nth-child(1) {
    margin-left: -20px;
}

#sortDiv>p:nth-child(2),
#sortDiv>p:nth-child(3):hover,
#sortDiv>p:nth-child(4):hover {
    color: #c82506;
    border-bottom: 2px solid #c82506;
    cursor: pointer;
}

#source>p:nth-child(1),
#source>p:nth-child(3) {
    color: #c82506;

    cursor: pointer;

}